.bar-root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
.bar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  margin-left: 12px;
}
.bar-textfield {
  min-width: 500px !important;
}
.bar-send-button {
  margin-top: 5px !important;
  margin-left: 15px !important;
}
.bar-sendIcon {
  padding-left: 8px;
}
